header.site-header {
    z-index: 9;
}

header.site-header {

    & a.site-title {
        color: $dark-blue;
        width: 100%;
        text-align: center;
    }

    & span#home {
        padding-top: .75 * $h2;
        line-height: $h2;
    }

    & span#home img { 

      -webkit-transition: height .3s;
      -moz-transition: height .3s;
      -o-transition: height .3s;
      transition: height .3s;
    }

    & .social-icons a.fa { 

      text-align: center;
      -webkit-transition: font-size .3s;
      -moz-transition: font-size .3s;
      -o-transition: font-size .3s;
      transition: font-size .3s;
    }

    & span#home {

        display: block;
        width: 100%;
        font-size: 4 * $h2;
        & img { vertical-align: middle; }
    }

}

.home header.site-header {
  @media screen and (min-width: $viewport-medium) {
    & a.site-title span#home.little img{ height: $h2;}
    & div.social-icons.little a.fa { font-size: 1.5 * $h2; }
}
}

header.site-header .site-nav {
    border: 1px solid $yellow;

    a:hover{
        border-bottom: none;
        background-color: $dark-blue;
        opacity: .8;

        h4, h2 {
          color: #fff; text-shadow: none;
      }
  }

  a span:first-child {
    font-family: Allegreya;
    font-style: italic;
    vertical-align: super;
    text-transform: lowercase;
    border: none;
}

a span:nth-child(2) {
    display: inline-block;
    font-size: $h2 * 1.2;
    transform: rotate(7deg);
    vertical-align: sub;
    margin: 0 -.1rem;
}

a span:nth-child(3) {
    vertical-align: sub;
    text-transform: lowercase;
}
}

div.home article{

  h1 { text-align: center; }
  h1 a { color: $dark-blue; background-image: none; }
  h1 a:hover { color: lighten($dark-blue,20%);}
  h1:first-of-type { padding-top: 3.5 * $h1; }
}

.panel:last-child {
  border-bottom: none;
}

.emphasis {
  color: $dark-gray;
  font-size: $h3;
}

.home #nav-arrow {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: $h1;
    color: $dark-blue;
    margin-right: 1rem;
    display: none;
}

@media screen and (max-width: $viewport-small) {

  .panel {

    h2 { padding-top: 5 * $h2; }

    p {
      font-size: $h3;
  }
}

.panel {

    border-bottom: none;
    height: 60vh;
    padding-top: 0;
}

.page .h2 { padding-top: 0; }
}

.email {
  direction:rtl;
  unicode-bidi:bidi-override;
}

.page {

  padding-bottom: $h1;

  h3 {
    margin: $h1 0 $h2 0;
}

p {
  color: $dark-gray;
  font-size: $h3;
}

ul {
    list-style-type: none;
    padding-left: $h3 / 2;
}

li {
    margin-bottom: $h3 / 2;
}

li:before {
    content: "/  ";
    font-weight: 600;
}
}

.post-header {
  margin: $h1 0 $h2 0;
}

.button-red {
  @extend .button-blue;
  background-color: $dark-blue;
}

.button-red:hover {
  border: 1px solid $dark-blue;
}

.mb2 {
  margin-top: 2*$h1;
}

header .social-icons div.social-icons {
  text-align: center;
  padding-top: 0;
}

header .social-icons div.social-icons a{
  font-size: $h1;
  color: darken($yellow,5%);
  display: inline-block;
}